<ion-header>
  <ion-toolbar>
    <ion-title>Acceder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-page">
  <div class="logo-container">
    <img src="assets/logos/MAINLOGO.PNG" alt="App Logo" class="logo" />
  </div>

  <div class="login-container">
    <ion-card>


      <ion-card-content>
        <form (submit)="onLogin()">
          <ion-item>
            <ion-input label="Correo" label-placement="floating" fill="solid"
              type="email"
              [(ngModel)]="email"
              name="email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Contraseña" label-placement="floating" fill="solid"
              type="password"
              [(ngModel)]="password"
              name="password"
              required
            ></ion-input>
          </ion-item>

          <ion-button
          color="dark"
            expand="full"
            type="submit"
            class="login-button"
            [disabled]="!email || !password"
          >
            Ingresar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
