<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <div class="header-content">
        <span>GymAdmin</span>
        <span class="datetime">{{ currentDateTime }}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-page">
  <div class="logo-container">

    <div *ngIf="imageSrc; else noImage">
      <img [src]="'data:image/jpeg;base64,' + imageSrc" class="logo" alt="Stored Image" />
    </div>
    <ng-template #noImage>
      <p></p>
    </ng-template>
  </div>

  <!-- Input Section -->
  <ion-item>
    <ion-input label-placement="floating" fill="solid" placeholder="Ingresa tu Membresia" 
    [(ngModel)]="membershipId" placeholder="12345"  (keydown.enter)="checkSubscription()" onkeypress="ch"></ion-input>
  </ion-item>
  <ion-button           color="dark"
  expand="block" (click)="checkSubscription()">Check</ion-button>



  <!-- Visible List of Checked Users -->
      <ion-list>
        <ion-item *ngFor="let entry of entries" >

          <ion-label [color]="isExpired(entry.exp) ? 'danger' : 'success'" >{{ entry.name }}</ion-label>

          <ion-label [color]="isExpired(entry.exp) ? 'danger' : 'success'" >{{ entry.exp }}</ion-label>
          <ion-icon  [color]="isExpired(entry.exp) ? 'danger' : 'success'" [name]="isExpired(entry.exp) ? 'card' : 'barbell'"></ion-icon>
          

        </ion-item>

  </ion-list>
</ion-content>
