<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header-title">Agrega membresia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveUser()" #userForm="ngForm" class="form-container">
    <!-- Name Input -->
    <ion-item lines="full" class="form-item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        [(ngModel)]="user.name"
        name="name"
        required
        placeholder="Enter full name"
      ></ion-input>
    </ion-item>

    <!-- Expiration Date Input -->
    <ion-item lines="full" class="form-item">
      <ion-label position="stacked">Membresia expira</ion-label>
      <ion-datetime
        [(ngModel)]="user.exp"
        name="exp"
        placeholder="Select Expiration Date"
        displayFormat="DD MMM YYYY"
        presentation="date"
        required
      ></ion-datetime>
    </ion-item>

    <!-- Photo Upload -->
    <ion-item lines="none" class="form-item">
      <ion-label position="stacked">Foto</ion-label>
      <input
        type="file"
        accept="image/*"
        (change)="onPhotoSelected($event)"
        hidden
        #fileInput
      />
      <ion-button expand="block" color="medium" (click)="fileInput.click()">
        Selecciona una foto 
      </ion-button>
    </ion-item>

    <!-- Photo Preview -->
    <div *ngIf="photoPreview" class="photo-preview-container">
      <ion-avatar class="photo-preview">
        <img [src]="photoPreview" alt="User Photo Preview" />
      </ion-avatar>
      <p>Preview</p>
    </div>

    <!-- Gym ID (Hidden Field) -->
    <input type="hidden" [(ngModel)]="user.gym_id" name="gym_id" />

    <!-- Save Button -->
    <ion-button
      expand="block"
      type="submit"
      color="dark"
      class="save-button"
      [disabled]="!userForm.valid"
    >
      Agrega
    </ion-button>
  </form>
</ion-content>
