<ion-header>
  <ion-toolbar>
    <ion-title>Search User Entries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Input field to enter User ID -->
  <ion-item>
    <ion-label position="floating">Enter User ID</ion-label>
    <ion-input [(ngModel)]="userId" type="number"></ion-input>
  </ion-item>

  <!-- Button to fetch entries -->
  <ion-button expand="block" (click)="fetchEntries()">Search</ion-button>

  <!-- Show error message -->
  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>


  <ion-card *ngIf="user.name.length >0">
    <ion-card-header>
      <ion-card-title>{{ user.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-avatar>
              <img alt="Silhouette of mountains"  src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <p><strong>Expiry Date:</strong> {{ user.exp }}</p>
            <p><strong>Gym ID:</strong> {{ user.gym_id }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Display entries in a table -->
  <ion-grid *ngIf="entries.length > 0">
    <!-- Table header -->
    <ion-row>
      <ion-col><strong>Dia de entrada</strong></ion-col>
      <ion-col><strong>Membresia en </strong></ion-col>
    </ion-row>

    <!-- Table rows -->
    <ion-row *ngFor="let entry of entries">
      <ion-col>{{ entry.day }}</ion-col>
      <ion-col>{{ entry.gym_name }}</ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
