<ion-app>
  <app-shared-header></app-shared-header>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      
      <ion-tab-button href="">
        <ion-icon name="home"></ion-icon>
        Ingresos
      </ion-tab-button>
      <ion-tab-button *ngIf="!checkLoginStatus()" href="login">
        <ion-icon name="log-in-outline"></ion-icon>
         Acceder
      </ion-tab-button>
      <ion-tab-button *ngIf="checkLoginStatus()" (click)="logout()" >
        <ion-icon name="log-out-outline"></ion-icon>
        Salir
      </ion-tab-button>
      <ion-tab-button *ngIf="!checkLoginStatus()"  href="gym-user-check"  >
        <ion-icon name="id-card-outline"></ion-icon>
        Mi Membresia
      </ion-tab-button>
      <ion-tab-button *ngIf="checkLoginStatus()"  href="entries"  >
        <ion-icon name="list-circle-outline"></ion-icon>
        Ver Entradas
      </ion-tab-button>

      <ion-tab-button *ngIf="checkLoginStatus()" href="manage-users"  >
        <ion-icon  name="people"></ion-icon>
        Ver Usuarios
      </ion-tab-button>

      <ion-tab-button *ngIf="checkLoginStatus()" href="gymadmin"  >
        <ion-icon name="barbell-outline"></ion-icon>
        Admin Gym
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
